._*
.DS_Store
.htaccess
.env
index.php
Thumbs.db
composer.lock
composer.phar
npm-debug.log
node_modules/
/private/
/vendor/
/wp/
/wp-config.php
/wp-content/uploads/
/wp-content/blogs.dir/
/wp-content/upgrade/*
/wp-content/backup-db/*
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php
/wp-content/cache/*
/wp-content/cache/supercache/*
/wp-content/themes/
